.form-common {
    background: #bbbcbc;
    border-radius: 10px;
    margin: 5%;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 40%;
    padding: 20px 5%;
    box-shadow: 0px 0px 50px #00000094;
}

.main-container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-common .ant-input {
    width: 80%;
}

.form-common h1 {
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 50px;
}

.form-common h2 {
    font-family: 'Times New Roman';
    font-size: 20px;
    margin-top: -20px;
    text-align: center;
}

.form-common .ant-btn {
    border-radius: 5px;
    background: #a59586;
    outline: none;
    border: none;
}

.form-common .ant-input-password {
    border-radius: 5px;
    margin-left: 2px;
    width: 80%;
}

.form-common .ant-input-suffix{
    margin-left: 100px;
}

.form-common .ant-radio-group{
    color: white;
}

.form-common .ant-form-item .ant-select {
    width: 80%;
  }

.form-common .ant-form-item-label > label{
    color: rgb(0, 0, 0);
  }

 